<style>
    header {
        background-color: #AD41D9;
        color: white;
        padding: 1rem;
        text-align: center;
    }
</style>
<header>

    <h1>Superheroes</h1>
    <a href="/heroe-crear">Crear</a>
    <a href="/">inicio</a>

</header>